$base-color: #c6538c;

body {
  padding: 10px;
}

// CSS for new_listing.html
textarea,
input[type="text"],
input[type="number"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline: none;
}

// Hide Input Number Arrows
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 40%);
}

// textarea[name="description"],
// input[name="bid"] {
//   margin-top: 10px;
// }

.flex-container {
  display: flex;
  flex-direction: column;
  input[type="submit"] {
    width: fit-content;
    margin-top: 20px;
  }
  input, textarea {
    margin-top: 10px;
  }
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace, Arial, sans-serif;
}

// CSS for index.html
.listings {
  align-items: center;
  border-top: 1px solid #d2d2d2;
  padding-top: 10px;
  margin-top: 40px;
  div {
    margin-right: auto;
    // margin-bottom: 10px;
  }
  .title {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .bid {
    span {
      font-weight: 600;
      font-size: 1.25rem;
    }
  }
}

.image-box {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 500px;
    max-height: 500px;
  }
}