body {
  padding: 10px;
}

// CSS for new_listing.html
textarea,
input[type="text"],
input[type="number"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline: none;
}

// Hide Input Number Arrows
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]:focus,
textarea:focus,
input[type="number"] {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 40%);
}

textarea[name="description"],
input[name="bid"] {
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  input[type="submit"] {
    width: fit-content;
    margin-top: 20px;
  }
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace, Arial, sans-serif;
}