$base-color: #c6538c;
$photo-box: 300px;

body {
  padding: 10px;
}

// CSS for new_listing.html
textarea,
input[type="text"],
input[type="number"],
input[list="category"],
select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  outline: none;
}

select {
  background-color: #fff;
  color: #777;
  padding-left: 6px;
  option {
    background-color: #eee;
    color: #000;
    padding-left: 0;
  }
}

// Hide Input Number Arrows
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 40%);
}

.flex-container {
  display: flex;
  flex-direction: column;
  input[type="submit"] {
    width: fit-content;
    margin-top: 20px;
  }
  input, textarea, select {
    margin-top: 10px;
  }
}

.wrapper {
  max-width: 500px;
  margin: auto;
}

.wrapper-listing {
  max-width: 800px;
  margin: auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace, Arial, sans-serif;
}

// CSS for index.html
.listings {
  display: flex;
  border-top: 1px solid #d2d2d2;
  padding-top: 10px;
  margin-top: 40px;
}

.image-box {
  display: flex;
  flex: initial;
  flex-shrink: 0;
  width: $photo-box;
  height: $photo-box;
  border-radius: 10px;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    max-width: $photo-box;
    max-height: $photo-box;
  }
}

.resize-image-box {
  width: $photo-box/2;
  height: $photo-box/2;
  img {
    max-width: $photo-box/2;
    max-height: $photo-box/2;
  }
}

.text {
  padding-left: 10px;
  min-width: calc(800px - #{$photo-box});
  .title {
    font-weight: 500;
    font-size: 1.25rem;
    color: #44f;
  }
  .bid {
    font-size: 1rem;
    font-family: monospace;
    color: #777;
    span {
      color: #000;
      // font-weight: 600;
      font-size: 1.25rem;
      padding-left: 0.25rem;
    }
  }
  .description {
    font-size: 1rem;
    word-break: break-word;
    margin-top: 0.25rem;
  }
}

// CSS for individual listing
.no-border {
  border: none;
}

.img-large {
  width: 500px;
  height: 500px;
  img {
    max-width: 500px;
    max-height: 500px;
  }
}

.text {
  min-width: 300px;

  .dark-text {
    color:#333;
    margin-bottom: 1.5rem;
  }

  .btn {
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .monospace {
    font-family: monospace;
    font-weight: 100;
  }
}

.wrapper-info {
  padding-top: 10px;
  .description {
    color: #444;
  }
}

.details {
  font-family: cursive;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 4px;
  margin-top: 1rem;
  padding: 5px 10px;
  width: fit-content;
}

.bid-box {
  display: flex;
  align-items: center;
  input {
    padding: 2px 10px;
    width: 100px;
  }
}

.purple {
  color: darkviolet;
}

.wrapper-info-com {
  width: 500px;
}

#description {
  font-family: monospace;
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #777;
}

.wrapper-comments {
  padding-top: 5px;
  // border-top: 1px solid #d2d2d2;
  #comment-head {
    font-size: 1.5rem;
    color: #000;
    margin-top: 2rem;
    padding-left: 0.5rem;
    border-top: 1px solid #d2d2d2;
    margin-bottom: 0.5rem;
  }
  .user {
    font-weight: bold;
    font-size: 0.75rem;
    color: #55f;
    font-family: opensans, helvetica, arial, sans-serif;
    margin-bottom: 0;
  }
  .bullet {
    color: #c2c6cc;
  }
  textarea {
    width: 100%;
    resize: vertical;
    // overflow: auto;
    // overflow-wrap: break-word;
    // max-height: 300px;
  }
  input {
    margin-bottom: 1.25rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 16px;
    /* background-color: #66f; */
    border: 1px solid black;
    /* color: white; */
    border-radius: 4px;
  }
}

.comment {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.textarea {
  border: 1px solid #2a2e2e;
  padding: 2px 6px;
  border-radius: 3px;
  line-height: 20px;
}

.error-message {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .message {
    color: cadetblue;
    font-family: serif;
    font-size: 3rem;
    text-shadow: 0px 1px 2px #000;
  }
}