{% extends "auctions/layout.html" %}
{% block title %}Auctions - Categories{% endblock %}

{% block body %}
<div class="wrapper-listing">
  <h3 class="heading">Choose a category</h3>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'auto-parts' %}">Auto &amp;
      Parts</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'fashion-clothing' %}">Fashion
      &amp;
      Clothing</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'books-movies-music' %}">Books
      &amp;
      Movies &amp; Music</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'electronics' %}">Electronics</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'collectibles-art' %}">Collectibles
      &amp; Art</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'home-garden' %}">Home &amp;
      Garden</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'sporting-goods' %}">Sporting
      Goods</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'toys-hobbies' %}">Toys &amp;
      Hobbies</a>
    <a class="list-group-item list-group-item-action" href="{% url 'single_category' 'others' %}">Others</a>
  </div>

</div>
{% endblock %}