{% extends "auctions/layout.html" %}

{% block body %}

<div class="wrapper-listing">
    <h3 class="heading">Active Listings</h3>

    {% for item in entry %}
    <div class="listings">
        <a href="{% url 'item' item.title.split|join:'-' item.id %}">
            <div class="image-box">
                <img src="{{ item.url }}" alt="" />
            </div>
        </a>
        <div class="text">
            <a href="{% url 'item' item.title.split|join:'-' item.id %}">
                <div class="title">{{ item.title }}</div>
            </a>

            <div class="bid">Bid:<span>${{ item.last_bid|floatformat }}</span></div>
            <div class="description">{{ item.description }}</div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}