{% extends "auctions/layout.html" %}

{% block body %}

<div class="wrapper">
    <h3 class="heading">Active Listings</h3>
    {% for item in entry %}
    <div class="flex-container listings">
        <div class="title">{{ item.title }}</div>


        <div class="image-box">
            <img src="{{ item.url }}" alt="" />
        </div>

        <!-- <div class="bid">Current bid: <span>${{ bid }}</span></div> -->
        <div>Description: {{ item.description }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}