{% extends "auctions/layout.html" %}
{% block title %}Auctions - New Listing{% endblock %}

{% block body %}
<form method="post">
  {% csrf_token %}
  <div class="wrapper">
    <div class="flex-container">
      <div class="heading">
        <h3>Create you new listing</h3>
      </div>
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="description" id="" cols="30" rows="10" placeholder="Description" required></textarea>
      <label for="category"></label>
      <select name="category">
        <option value="others">Select a category</option>
        <option value="auto-parts">Auto &amp; Parts</option>
        <option value="fashion-clothing">Fashion &amp; Clothing</option>
        <option value="books-movies-music">Books &amp; Movies &amp; Music</option>
        <option value="electronics">Electronics</option>
        <option value="collectibles-art">Collectibles &amp; Art</option>
        <option value="home-garden">Home &amp; Garden</option>
        <option value="sporting-goods">Sporting Goods</option>
        <option value="toys-hobbies">Toys &amp; Hobbies</option>
        <option value="others">Others</option>
      </select>
      <input type="number" name="bid" placeholder="Start Bid" required>
      <input type="text" name="image-url" placeholder="Image URL">
      <input type="submit" name="" id="" value="save">
    </div>
  </div>
</form>
{% endblock %}