{% extends "auctions/layout.html" %}
{% block title %}Auctions - New Listing{% endblock %}

{% block body %}
<form method="post">
  {% csrf_token %}
  <div class="wrapper">
    <div class="flex-container">
      <div class="heading">
        <h3>Create you new listing</h3>
      </div>
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="description" id="" cols="30" rows="10" placeholder="Description" required></textarea>
      <select name="category">
        <option value="">Select a category</option>
        <option value="Auto & Parts">Auto &amp; Parts</option>
        <option value="Fashion & Clothing">Fashion &amp; Clothing</option>
        <option value="Auto & Parts">Auto &amp; Parts</option>
        <option value="Books, Movies & Music">Books, Movies &amp; Music</option>
        <option value="Electronics">Electronics</option>
        <option value="Collectibles & Art">Collectibles &amp; Art</option>
        <option value="Home & Garden">Home &amp; Garden</option>
        <option value="Sporting Goods">Sporting Goods</option>
        <option value="Toys & Hobbies">Toys &amp; Hobbies</option>
        <option value="Others">Others</option>
      </select>
      <input type="number" name="bid" placeholder="Start Bid" required>
      <input type="text" name="image-url" placeholder="Image URL">
      <input type="submit" name="" id="" value="save">
    </div>
  </div>
</form>
{% endblock %}